{% extends "quotesapp/base.html" %}

{% block content %}

<form method="POST" action="{% url 'quotesapp:author' %}" style="color: rgba(255, 255, 255, 0.593)">
    {% csrf_token %}
    <div style="padding: 10px">
        <label> Author name:
            {{ form.name }}
        </label>
        <span>{{ form.errors.name }}</span>
    </div>
    <div style="padding: 10px">
        <label> Author borndate:
            {{ form.borndate }}
        </label>
        <span>{{ form.errors.borndate }}</span>
    </div>
    <div style="padding: 10px">
        <label> Author bio:
            {{ form.bio }}
        </label>
        <span>{{ form.errors.bio }}</span>
    </div>
    <div style="padding: 10px">
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>
{% endblock %}