<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css" />
    <meta charset="UTF-8" />
    <title>Organizer</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
</head>

<body style="background-color: rgb(4, 24, 83); text-emphasis-color: rgb(255, 255, 255);">
    <main class="container">
        <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
            {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url 'quotesapp:author' %}" role="button">Add author</a></li>
                <li><a href="{% url 'quotesapp:quote' %}" role="button">Add quote</a></li>
                <li><a href="{% url 'quotesapp:tag' %}" role="button">Add Tag</a></li>
            </ul>
            <ul>
                <li style="color: rgb(255, 255, 255)">Welcome <b>{{ user.username }}!</b></li>
                <li><a href="{% url 'users:profile' %}" role="button">Profile</a></li>
                <li><a href="{% url 'users:logout' %}" role="button">Logout</a></li>
            {% else %}
            <ul>
                <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
                <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
            </ul>
            {% endif %}
        </nav>
        <h1 style="padding-left: 45%; color: rgb(255, 255, 255)">All quotes</h1>
        {% for quote in quotes %}
        <ul style="padding-left: 45%">
            <li>
                {% if not quote.done and user.is_authenticated %}
                <a href="{% url 'quotesapp:detail' quote.id %}" role="button" class="outline"> {{ quote.name }} </a>
                <a href="{% url 'quotesapp:set_done' quote.id %}" role="button"> Mark Done </a>
                <a href="{% url 'quotesapp:delete' quote.id %}" role="button" class="contrast"> Delete quote </a>
                {% else %}
                <a href="{% url 'quotesapp:detail' quote.id %}" role="button" class="secondary"><s>{{ quote.name }}</s></a>
                {% endif %}
            </li>
        </ul>
        {% endfor %}
        <h1 style="padding-left: 45%; color: rgba(255, 255, 255, 0.836)">All authors</h1>
        {% for author in authors %}
        <ul style="padding-left: 45%">
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'quotesapp:lookfor' author.id %}" role="button" class=""><s>{{ author.name }}</s></a>
                <a href="{% url 'quotesapp:remove' author.id %}" role="button" class="contrast"> Delete author </a>
                {% else %}
                <a href="{% url 'quotesapp:lookfor' author.id %}" role="button" class="secondary"><s>{{ author.name }}</s></a>
                {% endif %}
            </li>
        </ul>
        {% endfor %}
    </main>
    <footer style="padding-bottom: 20px; border-bottom: 2px solid; padding-left: 45%">
        <p style="color: rgb(255, 255, 255)">Made by <a href="https://github.com/Sapientus">Sapientus</a></p>
    </footer>
</body>
</html>